@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Personal-sida</h1>
    <p>Administrationssida för personalen på Restaurangen.</p>
</div>
